<template>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <img class="fixed-height" :src="instructor.picture">
          <span class="card-title">{{instructor.name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>{{instructor.rate}}/h</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>{{instructor.about}}</p>
        </div>
      </div>
    </div>
</template>

<script>


export default {
  name: 'instructor',
  data () {
    return {
    }
  },
  props: ['instructor']
}
</script>

<style>
.fixed-height{
  height: 180px;
  overflow: hidden;
}
.btn-floating.halfway-fab {

}
</style>
