<template>
  <div>
      <div class="row" >
          <instructor v-for="instructor in instructors" :instructor="instructor" :key="instructor.index"></instructor>
      </div>


  </div>
</template>

<script>
import instructor from './instructor.vue'


export default {
  name: 'instructors',
  data () {
    return {
      msg: 'My name',
      instructors: {}
    }
  },
  created: function(){
        this.$http.get('http://localhost:3000/instructors').then(response => {

          // get body data

          this.instructors = this.shuffle(response.body)

        }, response => {
          // error callback
          console.log ('Error getting instructors')
           this.instructors = {}
        });
  },
  components: {instructor},
  methods: {
    shuffle: function (array){
      var currentIndex = array.length, temporaryValue, randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;

    }
  }
}
</script>

<style>
</style>
