<script>
import { actions } from '../store';
import Card from './card.vue';
import List from './list.vue';
import Textmessage from './textmessage.vue';
import Message from './message.vue';
export default {
    components: { Card, List, Textmessage, Message },
    vuex: {
        actions: actions
    },
    created () {
        actions.initData();
    }
}
</script>

<template>
<div id="chatApp">
    <div class="sidebar">
        <card></card>
        <list></list>
    </div>
    <div class="main">
        <message></message>
        <text></text>
    </div>
</div>
</template>

<style scoped>
#chatApp {
    margin: 20px auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 3px;
    .sidebar, .main {
        height: 100%;
    }
    .sidebar {
        float: left;
        width: 200px;
        color: #f4f4f4;
        background-color: #2e3238;
    }
    .main {
        position: relative;
        overflow: hidden;
        background-color: #eee;
    }
    .text {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .message {
        height: ~'calc(100% - 160px)';
    }
}
</style>
