<template>
  <div id="app">
    <div class="customHeader">
      <br>
      <br>
       <br>
      <h1>{{msg}}</h1>
    </div>
    <navbar></navbar>
    <!-- <router-link to="/bar">Go to Bar</router-link> -->
    <router-view></router-view>

    <!-- <instructors></instructors> -->

  </div>
</template>

<script>
// import instructors from './profiles/instructors.vue'
// import Chat from './chat/chat.vue';
import Navbar from './nav/navbar.vue';


export default {
  name: 'app',
  data () {
    return {
      msg: 'Find your favorite project and join'
    }
  },
  components:{
    // instructors,
    // Chat,
    Navbar
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.customHeader{
  background-image: url("./assets/hands.jpg");
  color: #26c6da;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
</style>
