<template>
  <div class="row">
      <ul id="mainDropDown" class="dropdown-content">

        <!-- <li v-for="skill in skills"><a href="#!">{{skill.name}}</a></li> -->
        <li v-for="skill in skills"><router-link to="/projects">{{skill.name}}</router-link></li>

      </ul>
      <nav>
        <div class="nav-wrapper darken-2 cyan">
          <a href="#!" class="brand-logo">Dream Team</a>
          <ul class="hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="mainDropDown">Skills<i class="material-icons right">view_module</i></a></li>
            <li><a href="#!">Search<i class="material-icons right">search</i></a></li>
            <li><input type="text" placeholder="Search for projects ..."></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><router-link to="/projects/create"><i class="material-icons left">add</i>Create a Project</a></router-link></li>
            <!-- <li><a href="#!"><i class="material-icons left">add</i>Create a Project</a></li> -->
          </ul>

        </div>
      </nav>
  </div>
</template>

<script>


export default {
  name: 'navbar',
  data () {
    return {
      "skills": [
      {
        "name": "Front-End Developer"
      },
      {
        "name": "Back-End Developer"
      },
      {
        "name": "Software Engineer, iOS"
      },
      {
        "name": "UX/UI Designer"
      },
      {
        "name": "Product Designer, IoT"
      },
      {
        "name": "Data Scientist"
      }
    ]
    }
  }
}
</script>

<style>
.dropdown-content{
  top: 65px !important;
  left: 0 !important;
  width: 200px !important;
}
</style>
