<template>
<div>
    <div class="row">
        <router-link :to="'/projects/'+this.id+'/edit'">Edit Project</router-link>
    </div>
    <div class="row">
        <div class="col s6 m6 l6">
          <div class="row">
              <div class="col m6">
                  <div class="card">
                      <div class="card-content cyan white-text">
                          <p class="card-stats-title"><i class="material-icons tiny">location_on</i> Location</p>
                          <h4 class="card-stats-number">{{projectDetail.location}}</h4>
                      </div>
                  </div>
              </div>

              <div class="col m6">
                  <div class="card">
                      <div class="card-content cyan white-text">
                          <p class="card-stats-title"><i class="material-icons tiny">av_timer</i> Duration</p>
                          <h4 class="card-stats-number">{{projectDetail.duration}}</h4>
                      </div>
                  </div>
              </div>

              <div class="col m6">
                  <div class="card">
                      <div class="card-content cyan white-text">
                          <p class="card-stats-title"><i class="material-icons tiny">supervisor_account</i> Current Team</p>
                          <h4 class="card-stats-number">{{projectDetail.currentTeam}}</h4>
                      </div>
                  </div>
              </div>

              <div class="col m6">
                  <div class="card">
                      <div class="card-content cyan white-text">
                          <p class="card-stats-title"><i class="material-icons tiny">verified_user</i> Looking for</p>
                          <h4 class="card-stats-number">{{projectDetail.need}}</h4>
                      </div>
                  </div>
              </div>

              <div class="col m6">
                  <div class="card">
                      <div class="card-content cyan white-text">
                          <p class="card-stats-title"><i class="material-icons tiny">toc</i> Category</p>
                          <h4 class="card-stats-number">{{projectDetail.category}}</h4>
                      </div>
                  </div>
              </div>

              <div class="col m6">
                  <div class="card">
                      <div class="card-content cyan white-text">
                          <p class="card-stats-title"><i class="material-icons tiny">info</i> Skills Needed</p>
                          <h4 class="card-stats-number">{{projectDetail.skills}}</h4>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
            <button class="btn btn-large waves-effect waves-light cyan darken-2" type="submit" name="action">Send us a message
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>

        <div class="col s6 m6 l6">
            <div class="card">
                <div class="card-image">
                    <img :src="projectDetail.image">
                    <span class="card-title">Project Name: {{projectDetail.title}}</span>
                </div>
                <div class="card-content">
                    <p>{{projectDetail.description}}</p>
                </div>
                <div class="card-action">
                    <a href="#">Contact us</a>
                </div>
            </div>

        </div>

    </div>

</div>
</template>

<script>
export default {
    name: 'projectDetail',
    props: ['id'],
    data() {
        return {
            msg: 'My name',
            projectDetail: {}
        }
    },
    created: function() {
        this.$http.get(REST_API_HOST + 'projects/' + this.id).then(response => {

            this.projectDetail = response.body

        }, response => {
            // error callback
            console.log('Error getting projectDetail')
            this.projectDetail = {}
        });
    },
    components: {}
}
</script>

<style>
.collection .collection-item {
    padding: 10px 15px;
}
</style>
