<template>
<div>
    <div class="row">
        <h3>Create new Project</h3>
        <h3 v-if="msg!=''">{{msg}}</h3>
    </div>
    <div v-if="error" class="row">
        <h3>Error getting project ID</h3>
    </div>
    <div v-else class="row">
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">location_on</i> Location</p>
                            <input type="text" placeholder="City-Country" v-model="newProject.location">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">av_timer</i> Duration</p>
                            <input type="text" placeholder="2 weeks/months" v-model="newProject.duration">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">supervisor_account</i> Current Team</p>
                            <input type="text" placeholder="3 people(in current Team)" v-model="newProject.currentTeam">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">verified_user</i> Looking for</p>
                            <input type="text" placeholder="1 developer/designer" v-model="newProject.need">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">toc</i> Category</p>
                            <input type="text" placeholder="Mobile/Web App, IoT" v-model="newProject.category">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">info</i> Skills needed</p>
                            <input type="text" placeholder="ReactJS, Angular" v-model="newProject.skills">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-large waves-effect waves-light cyan darken-2" @click="createProject">Create new Project
              <i class="material-icons right">send</i>
            </button>
            </div>

        </div>

        <div class="col s6 m6 l6">
            <div class="card">
                <div class="card-content">
                  <h6 class="col s6 m6 l6">Select Project Image</h6>
                  <select class="col s6 m6 l6" v-model="newProject.image">
                    <option v-for="photo in photos" v-bind:value="photo.value">
                      {{ photo.text }}
                    </option>
                  </select>
                </div>
                <div class="card-image">
                    <img :src="newProject.image">
                    <input class="card-title" type="text" placeholder="Click to change Project Title" v-model="newProject.title">
                </div>

                <div class="card-content">
                    <h5>Description</h5>
                    <textarea class="materialize-textarea" placeholder="The app helps users to ..." v-model="newProject.description"></textarea>
                </div>

            </div>

        </div>


    </div>

</div>
</template>


<script>
export default {
    name: 'projectCreate',
    data() {
        return {
            error: true,
            msg: '',
            newProject: {"image": "src/assets/a.jpg"},
            photos: [
              { text: 'One', value: 'src/assets/1.jpg' },
              { text: 'Two', value: 'src/assets/2.jpg' },
              { text: 'Three', value: 'src/assets/3.jpg' },
              { text: 'Four', value: 'src/assets/4.jpg' },
              { text: 'Five', value: 'src/assets/5.jpg' },
              { text: 'Six', value: 'src/assets/6.jpg' },
              { text: 'Seven', value: 'src/assets/7.jpg' },
              { text: 'Eight', value: 'src/assets/8.jpg' },
              { text: 'Nine', value: 'src/assets/9.jpg' },
              { text: 'Ten', value: 'src/assets/a.jpg' }
            ]
        }
    },
    created: function(){
        this.getProjectID()
    },
    methods: {
        createProject: function() {
            this.$http.post(REST_API_HOST + 'projects/', this.newProject).then(response => {

                this.newProject = {"image": "src/assets/a.jpg"}
                this.msg = "New project successfully created"

            }, response => {
                // error callback
                console.log('Error getting newProject')
                this.msg = "Project NOT created"
            });
        },
        getProjectID: function(){
          this.$http.get(REST_API_HOST + 'projects/').then(response => {

              this.newProject.id = response.body.length + 1
              console.log('new ID: '+this.newProject.id)
              this.error = false

          }, response => {
              // error callback
              this.error = true
          });
        }
    }
}
</script>

<style scoped>
textarea{
  height: 10rem;
}
select{
  display: block;
}

</style>
