<template>
<div class="col s12">

    <div class="row">
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">location_on</i> Location</p>
                            <input type="text" v-model="newProject.location">
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">av_timer</i> Duration</p>
                            <input type="text" v-model="newProject.duration">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">supervisor_account</i> Current Team</p>
                            <input type="text" v-model="newProject.currentTeam">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">verified_user</i> Looking for</p>
                            <input type="text" v-model="newProject.need">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">toc</i> Category</p>
                            <input type="text" v-model="newProject.category">
                        </div>
                    </div>
                </div>

                <div class="col m6">
                    <div class="card">
                        <div class="card-content cyan white-text">
                            <p class="card-stats-title"><i class="material-icons tiny">info</i> Skills needed</p>
                            <input type="text" v-model="newProject.skills">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-large waves-effect waves-light cyan darken-2" @click="editProject">Update Project
                <i class="material-icons right">send</i>
              </button>
            </div>
            <div class="row">
              <h5 v-if="msg!=''">{{msg}}</h5>
            </div>

        </div>

        <div class="col s6 m6 l6">
            <div class="card">
                <div class="card-content">
                    <h6 class="col s6 m6 l6">Select Project Image</h6>
                    <select class="col s6 m6 l6" v-model="newProject.image">
                      <option v-for="photo in photos" v-bind:value="photo.value">
                        {{ photo.text }}
                      </option>
                    </select>
                </div>
                <div class="card-image">
                    <img :src="newProject.image">
                    <input class="card-title" type="text" v-model="newProject.title">
                </div>

                <div class="card-content">
                    <h5>Description</h5>
                    <textarea class="materialize-textarea" v-model="newProject.description"></textarea>
                </div>

            </div>

        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br>

</div>
</template>

<script>
export default {
    name: 'projectEdit',
    props: ['id'],
    data() {
        return {
            newProject: {},
            msg: '',
            photos: [
              { text: 'One', value: 'src/assets/1.jpg' },
              { text: 'Two', value: 'src/assets/2.jpg' },
              { text: 'Three', value: 'src/assets/3.jpg' },
              { text: 'Four', value: 'src/assets/4.jpg' },
              { text: 'Five', value: 'src/assets/5.jpg' },
              { text: 'Six', value: 'src/assets/6.jpg' },
              { text: 'Seven', value: 'src/assets/7.jpg' },
              { text: 'Eight', value: 'src/assets/8.jpg' },
              { text: 'Nine', value: 'src/assets/9.jpg' },
              { text: 'Ten', value: 'src/assets/a.jpg' }
            ]
        }
    },
    created: function() {
        this.$http.get( REST_API_HOST + 'projects/' + this.id).then(response => {

            this.newProject = response.body

        }, response => {
            // error callback
            console.log('Error getting newProject')
            this.newProject = {}
        });
    },
    methods: {
        editProject: function() {
            this.$http.put(REST_API_HOST + 'projects/' + this.id, this.newProject).then(response => {

                this.newProject = response.body
                // router.go(-2)
                this.msg = "Project Updated successfully"
                console.log(this.msg)

            }, response => {
                // error callback
                console.log('Error getting projectDetail')
                this.status = {
                    'error': true
                }
            });
        }
    }
}
</script>

<style scoped>
select{
  display: block;
}
</style>
