<template>
  <div>
      <div class="row" >
          <project v-for="project in projects" :project="project" :key="project.index"></project>
      </div>


  </div>
</template>

<script>
import project from './project.vue'


export default {
  name: 'projects',
  data () {
    return {
      msg: 'My name',
      projects: {}
    }
  },
  created: function(){
        this.$http.get(REST_API_HOST+ 'projects').then(response => {

          // get body data

          this.projects = this.shuffle(response.body)

        }, response => {
          // error callback
          console.log ('Error getting projects')
           this.projects = {}
        });
  },
  components: {project},
  methods: {
    shuffle: function (array){
      var currentIndex = array.length, temporaryValue, randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;

    }
  }
}
</script>

<style>
</style>
