<template>
    <div class="col s6 m4 l3">
      <div class="card hoverable">
        <div class="card-image">
          <img class="fixed-height activator" :src="project.image">
          <span class="card-title">{{project.title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light pulse activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content customHeight">
          <p><h5>{{project.category}}</h5><router-link :to="'/projects/'+project.id">More Detail</router-link></p>

          <p>{{project.description}}</p>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><p>{{project.title}}</p><i class="material-icons right">close</i></span>
          <p>{{project.description}}</p>
        </div>
      </div>
    </div>
</template>

<script>


export default {
  name: 'project',
  data () {
    return {
    }
  },
  props: ['project']
}
</script>

<style>
.fixed-height{
  height: 180px;
  overflow: hidden;
}
.customHeight{
  height: 250px;
  overflow: scroll;
}
</style>
